<!-- category -->
<section
  class="grid grid-cols-1 md:grid-cols-3 md:px-32 my-32 gap-32 md:gap-6 place-items-center"
>
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-1/2 left-1/4 w-56"
      src="../../../../assets/images/image-category-thumbnail-headphones.png"
      alt="headphones"
    />
    HEADPHONES
    <a
      routerLink="/headphones"
      class="text-gray-500 text-sm text-center hover:text-gray-600"
    >
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </a>
  </div>
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-1/2 left-1/4 w-56"
      src="../../../../assets/images/image-category-thumbnail-speakers.png"
      alt="speakers"
    />
    SPEAKERS
    <a
      routerLink="/speakers"
      class="text-gray-500 text-sm text-center hover:text-gray-600"
    >
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </a>
  </div>
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-1/2 left-1/4 w-56"
      src="../../../../assets/images/image-category-thumbnail-earphones.png"
      alt="earphones"
    />
    EARPHONES
    <a
      routerLink="/earphones"
      class="text-gray-500 text-sm text-center hover:text-gray-600"
    >
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </a>
  </div>
</section>
