<section class="px-5 mt-5 md:px-32 md:mt-32 mb-64">
  <!-- product1 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <img
      src="../../../../assets/images/image-zx9-speaker.jpg"
      alt="ZX9 Speaker"
      class="rounded w-[500px]"
    />
    <div class="grid place-items-center">
      <div class="flex flex-col gap-4 text-center md:text-left">
        <h4 class="text-[#D87D4A] tracking-widest">NEW PRODUCT</h4>
        <h2 class="font-bold text-4xl">ZX9 SPEAKER</h2>
        <p class="text-gray-400">
          Upgrade your sound system with the all new ZX9 active speaker. It’s a
          bookshelf speaker system that offers truly wireless connectivity --
          creating new possibilities for more pleasing and practical audio
          setups.
        </p>
        <button
          class="bg-[#D87D4A] hover:bg-[#D87D4A]/90 py-3 text-white font-bold text-sm"
        >
          SEE PRODUCT
        </button>
      </div>
    </div>
  </div>
  <!-- product2 -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-32">
    <img
      src="../../../../assets/images/image-zx7-speaker.jpg"
      alt="ZX7 Speaker"
      class="rounded w-[500px] md:order-2"
    />
    <div class="grid place-items-center">
      <div class="flex flex-col gap-4 text-center md:text-left">
        <h2 class="font-bold text-4xl">ZX7 SPEAKER</h2>
        <p class="text-gray-400">
          Stream high quality sound wirelessly with minimal loss. The ZX7
          bookshelf speaker uses high-end audiophile components that represents
          the top of the line powered speakers for home or studio use.
        </p>
        <button
          class="bg-[#D87D4A] hover:bg-[#D87D4A]/90 py-3 text-white font-bold text-sm"
        >
          SEE PRODUCT
        </button>
      </div>
    </div>
  </div>
</section>
<app-categories />
<app-about />
