<!-- hero -->
<section
  class="grid grid-cols-2 px-32 bg-dark text-gray-100 place-items-center"
>
  <div class="flex flex-col gap-3">
    <h2 class="text-gray-500">NEW PRODUCT</h2>
    <h1 class="text-6xl font-bold">XX99 Mark II Headphones</h1>
    <p class="text-gray-400 mt-2">
      Experience natural, lifelike audio and exceptional build quality made for
      the passionate music enthusiast.
    </p>
    <button class="bg-orange w-40 py-2 rounded-sm">SEE PRODUCT</button>
  </div>
  <div>
    <img src="../../../../assets/images/image-hero.png" alt="hero-img" />
  </div>
</section>
<!-- category -->
<section class="grid grid-cols-3 px-32 my-32 gap-6 place-items-center">
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-24 right-20 w-56"
      src="../../../../assets/images/image-category-thumbnail-headphones.png"
      alt="headphones"
    />
    HEADPHONES
    <h5 class="text-gray-500 text-sm text-center">
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </h5>
  </div>
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-24 right-16 w-56"
      src="../../../../assets/images/image-category-thumbnail-speakers.png"
      alt="speakers"
    />
    SPEAKERS
    <h5 class="text-gray-500 text-sm text-center">
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </h5>
  </div>
  <div
    class="bg-[#979797]/10 px-32 pt-24 pb-10 rounded-sm font-bold text-lg relative"
  >
    <img
      class="absolute -top-20 right-16 w-56"
      src="../../../../assets/images/image-category-thumbnail-earphones.png"
      alt="earphones"
    />
    EARPHONES
    <h5 class="text-gray-500 text-sm text-center">
      SHOP
      <i class="fa-solid fa-chevron-right text-orange"></i>
    </h5>
  </div>
</section>
<!-- product -->
<section class="px-32 mb-12 flex flex-col gap-10">
  <!-- product 1 -->
  <div class="bg-orange rounded relative h-[500px] overflow-hidden">
    <img src="../../../../assets/images/pattern-circles.svg" alt="fondo" />
    <img
      src="../../../../assets/images/image-speaker-zx9.png"
      alt="speaker-zx9"
      class="w-72 absolute -bottom-2 left-20"
    />
    <div class="absolute top-40 right-52">
      <h3 class="font-bold text-6xl text-white">ZX9 SPEAKER</h3>
      <h5 class="text-white w-[300px] my-4">
        Upgrade to premium speakers that are phenomenally built to deliver truly
        remarkable sound.
      </h5>
      <button class="bg-black text-white text-sm px-7 py-3 rounded-sm">
        SEE PRODUCT
      </button>
    </div>
  </div>
  <!-- product 2 -->
  <div class="rounded relative h-[300px] overflow-hidden">
    <img
      src="../../../../assets/images/image-speaker-zx7.jpg"
      alt="speaker-zx7"
      class="object-cover w-full h-full"
    />
    <div class="absolute top-20 left-32">
      <h3 class="font-bold text-4xl text-black mb-5">ZX7 SPEAKER</h3>
      <button
        class="bg-transparent border-2 border-black text-black text-sm px-7 py-3 rounded-sm"
      >
        SEE PRODUCT
      </button>
    </div>
  </div>
  <!-- product 3 -->
  <div class="grid grid-cols-2 gap-8">
    <div class="rounded relative h-[300px] overflow-hidden">
      <img
        src="../../../../assets/images/image-earphones-yx1.jpg"
        alt="earphones-yx1"
        class="object-cover w-full h-full"
      />
    </div>
    <div
      class="rounded grid place-items-center h-[300px] overflow-hidden bg-[#F1F1F1]"
    >
      <div class="flex flex-col gap-3">
        <h3 class="font-bold text-4xl text-black">YX1 EARPHONES</h3>
        <button
          class="bg-transparent border-2 border-black text-black text-sm px-7 py-3 rounded-sm"
        >
          SEE PRODUCT
        </button>
      </div>
    </div>
  </div>
</section>
<!-- about -->
<section class="px-32 my-32">
  <div class="grid grid-cols-2 px-32 gap-10">
    <div class="grid place-items-center">
      <div class="flex flex-col gap-3">
        <h1 class="text-5xl font-bold">
          Bringing you the <br />
          <span class="text-orange">best</span>
          audio gear
        </h1>
        <p class="text-gray-400 mt-2">
          Located at the heart of New York City, Audiophile is the premier store
          for high end headphones, earphones, speakers, and audio accessories.
          We have a large showroom and luxury demonstration rooms available for
          you to browse and experience a wide range of our products. Stop by our
          store to meet some of the fantastic people who make Audiophile the
          best place to buy your portable audio equipment.
        </p>
      </div>
    </div>
    <div>
      <img
        src="../../../../assets/images/image-best-gear.jpg"
        alt="about-hero"
        class="rounded"
      />
    </div>
  </div>
</section>
